@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






div#charData {
  background-color: rgb(207, 207, 207);
}

h3.end-align {
  text-align: end;
}



.sw-yellow {
  color: rgba(255, 232, 31);
}

.sw-space {
  background-image: url("./assets/SpaceBackground.png");
}

/* .sw-transition {
  transition: height 5s, width 5s;
  transition-timing-function: ease-in;
} */

/* .final-sw-logo-size {
  height: 100px;
} */


/* img:hover {
  height: 100px;
  transition: height 10s;
} */


#sw-logo {
  animation: titleShrink 13s 1;
  animation-timing-function: ease;
  max-width: none;
}

@keyframes titleShrink {
  from {height: 150rem;}
  to {height: 10px;}
}